@font-face {
  font-family: "BAHNSCHRIFT";
  src: url('fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF');
  src: url('fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF') format('truetype');
}

body, :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'BAHNSCHRIFT', Calibri, Tahoma, sans-serif;
  font-stretch: condensed;
  --pst-color-primary: #9CB262;
  --pst-color-secondary: #E66D0D; 
}

div.CodeMirror-code {
    font-family: monospace;
    font-size: 14px;
  }

div.rect1, div.rect2, div.rect3, div.rect4{
    background-color: var(--pst-color-primary);  
}

p {
    font-size: 20px;
  }

p.banner {
  font-weight: 500;
  font-size: medium;
}

span.caption-text {
    font-size: 18px;
  }

li {
    font-size: 16px;
   }

/* hochgestellte Fussnoten zeilen werden auf die richtige Höhe gesetzt*/   
a.footnote-reference {
  vertical-align: baseline;
}

/* Startbild linksbündig */
div.figure.align-left {
  margin-left: 0px;
  padding-left: 0px;
}

/* Schriftgröße Glossar */
dl.glossary {
  font-size: 20px;
}

/* Schrift von Code-Elementen im Text auf #E66D0D (Orange-Ton) setzen */
code.docutils.literal.notranslate {
  color: var(--pst-color-secondary);
}

/* Vorheriger Farbcode für den Mint-Ton: #B0C86F (zusätzlich vermerkte Alternative: #94C172)*/

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => rechte Navigationsbar*/
a.reference.internal.nav-link:hover, a.reference.internal.nav-link.active {
  color: var(--pst-color-primary);
}

.toc-entry a.nav-link.active {
  box-shadow: inset max(3px,.1875rem,.12em) 0 0 var(--pst-color-primary);
}

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => Haupttextbereich*/
main.bd-content #main-content a,
main.bd-content #main-content a:visited:hover,
main.bd-content #print-main-content a,
main.bd-content #print-main-content a:visited:hover {
 color:var(--pst-color-primary);
}

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => Links im Footer und Header Links*/
a, a:hover, a:visited, a:visited:hover, a.headerlink {
  color: var(--pst-color-primary);
}

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => linke Navigationsbar*/
nav.bd-links li > a:hover,
nav.bd-links .current > a {
 color:var(--pst-color-primary);
 box-shadow: inset max(3px,.1875rem,.12em) 0 0 var(--pst-color-primary);
}

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => vor-zurück-Navigation im unteren Bereich*/
.prev-next-area a p.prev-next-title {
  color: var(--pst-color-primary) !important;
  font-weight: 600;
  font-size: 1.1em;
}

/* Rahmen mit Farbe orange auf Farbe #E66D0D (Orange-Ton)  setzen  => Suchfeld*/
.search-button-field:hover {
  border: 2px solid var(--pst-color-primary);
}

/* Rahmen unten mit Farbe orange auf Farbe #9CB262 (Mint-Ton)  setzen  => Navbar oben Light/Dark Mode*/
.theme-switch-button span:hover {
  box-shadow: 0 max(3px,.1875rem,.12em) 0 var(--pst-color-primary);
}